.Home {
  .logo {
    img {
      min-height: 200px;
      height: 25vmin;
    }
  }

  .header {
    min-height: 90vh;
    font-size: 130%;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.3px;
    margin: 1rem 0 0;
  }
}
